# IBM Granite / Watson ML
IBM_API_KEY=your_ibm_api_key_here
IBM_ML_URL=https://us-south.ml.cloud.ibm.com
IBM_PROJECT_ID=60b20a3f-d83b-442e-a387-a886d89212c6
IBM_MODEL_ID=ibm/granite-4-h-small

# IBM Watson Discovery (Vector Index)
WATSON_DISCOVERY_URL=https://api.us-south.discovery.watson.cloud.ibm.com
WATSON_DISCOVERY_VERSION=2023-03-31
WATSON_DISCOVERY_PROJECT_ID=Interview_Agent

# Server
PORT=3000
